@mixin tablet {
    @media screen and (max-width: 915px) and (min-width: 612px) {
        @content
    }
  }
  
  @mixin laptop {
    @media screen  and (min-width: 915px)  {
        @content
    }
  }
  
  @mixin mobile {
    @media screen and (max-width: 612px) {
        @content
    }
  }




//LANDING PAGE
//Header.jsx
.principalHeader {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  /* Otros estilos para el contenedor principal del Header */
  
  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Estilos para el contenedor interno del Header */

    .logoh {
      margin-left: 20px;
      img {
        width: 120px; /* Ajusta el tamaño del logo según tus necesidades */
        height: auto;
        /* Otros estilos para el logo */
      }
    }

    .header-nav {
      list-style: none;
      padding: 8px 16px;
      margin-top: 40px;
      margin-left: 12px;
      display: flex;
      justify-content: space-around;
      color: #07905c;

      .menu-icon {
        display: none;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;

        .headernav-item {
          padding: 10px;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .LogSignbtns {
      .LogInbtn,
      .SignUpbtn {
        padding: 8px 16px;
        margin-top: 40px;
        margin-left: 12px;
        cursor: pointer;
        border-radius: 10px;
        /* Estilos comunes para ambos botones */
      }

      .LogInbtn {
        color: #07905c;
        background-color: white; /* Color para el botón LogIn */
        border: 1px solid #07905c;
      }

      .SignUpbtn {
        color: white;
        background-color: #07905c; /* Color para el botón SignUp */
        border: none;
      }
    }
  }

  /* Estilos para dispositivos móviles */
@include mobile {
  .headerContainer {
    .header-nav {
      .menu-icon {
        display: flex;
        position: relative;
        height: 30px;
        width: 30px;
        cursor: pointer;
        z-index: 20;
      }
    }

    .header-nav {
      ul {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #ffffff; /* Color de fondo del menú */
        padding: 10px; /* Espaciado interno del menú */
        box-shadow: 0px 4px 6px rgba(7, 144, 92, 0.4); /* Sombra para el menú */
        z-index: 15; /* Asegura que el menú esté encima de otros elementos */
        top: 100%; /* Posiciona el menú debajo del ícono */
        left: 50%; /* Centra horizontalmente el menú */
        transform: translateX(-50%);
        border-radius: 10px;
        /* Estilos para ocultar la lista en dispositivos móviles */
      }
      li{
      position: relative;
      padding-bottom: 10px; /* Ajusta el espacio para la franja */
      &:not(:last-child) {
        border-bottom: 1px solid #07905c; /* Color y estilo de la franja */
      }
      }

      ul.show-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        /* Estilos para mostrar la lista cuando se activa la clase show-menu en dispositivos móviles */
      }
    }
  }
  .LogSignbtns{
    .SignUpbtn{
      display: none;
    }
    .LogInbtn{
      color:#07905c;
    }
  }
}
@include tablet {
  .headerContainer {
    .header-nav {
      .menu-icon {
        display: flex;
        position: relative;
        height: 30px;
        width: 30px;
        cursor: pointer;
        z-index: 20;
      }
    }

    .header-nav {
      ul {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #ffffff; /* Color de fondo del menú */
        padding: 10px; /* Espaciado interno del menú */
        box-shadow: 0px 4px 6px rgba(7, 144, 92, 0.4); /* Sombra para el menú */
        z-index: 15; /* Asegura que el menú esté encima de otros elementos */
        top: 100%; /* Posiciona el menú debajo del ícono */
        left: 50%; /* Centra horizontalmente el menú */
        transform: translateX(-50%);
        border-radius: 10px;
        /* Estilos para ocultar la lista en dispositivos móviles */
      }
      li{
      position: relative;
      padding-bottom: 10px; /* Ajusta el espacio para la franja */
      &:not(:last-child) {
        border-bottom: 1px solid #07905c; /* Color y estilo de la franja */
      }
      }

      ul.show-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        /* Estilos para mostrar la lista cuando se activa la clase show-menu en dispositivos móviles */
      }
    }
  }
  .LogSignbtns{
    .SignUpbtn{
      display: none;
    }
    .LogInbtn{
      color:#07905c;
    }
  }
}
}

//Slider
.slider {
  width: 1460px; /* Ancho del slider */
  height: 380px; /* Altura del slider */
  overflow: hidden;
  margin: 0 auto; /* Centrar el slider horizontalmente */
  border-radius: 5px;

  .slides-container {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%; /* Asegurar que el contenedor de slides ocupe todo el ancho */
    height: 100%; /* Asegurar que el contenedor de slides ocupe toda la altura */
  }

  .slide {
    flex: 0 0 100%;
    max-width: 100%;
    overflow: hidden;
    height: 100%; /* Asegurar que cada slide ocupe toda la altura */

    img {
      width: 100%;
      height: 100%; /* Asegurar que la imagen ocupe toda la altura */
      object-fit: cover; /* Para ajustar la imagen sin deformarla */
    }
  }
}

//Carousel
.carousel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .control {
    padding: 8px 16px;
    margin: 0 10px;
    background-color: #ccc;
    border: none;
    cursor: pointer;

    &.prev {
      margin-left: 0;
    }

    &.next {
      margin-right: 0;
    }
  }

  .viewport {
    width: 80%;
    overflow: hidden;
    position: relative;
    margin: 20px 0;

    .carousel-list {
      display: flex;
      transition: transform 0.5s ease; /* Transición suave al cambiar de elemento */

      .carousel-item {
        flex: 0 0 100%;
        width: 100%;
        text-align: center;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #f8f8f8;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
//Navbar
.navbar {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #07905c; 
  padding: 20px; /* Ajusta el padding según tu diseño */
  border-radius: 10px;

  .nav-menu {
    ul {
      list-style:none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-around;

      .nav-item {
        padding: 10px;
        color: white;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

//Features
.features {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;

  .feature {
    width: 300px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;

    img {
      width: 80px;
      height: 80px;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      color: #666;
    }
  }

  @include tablet {
    flex-wrap: wrap;

    .feature {
      width: 200px;
      margin: 10px;
    }
  }

  @include mobile {
    //display: flex;
    flex-direction: column;
    align-items: center;

    .feature {
      width: 250px;
      margin: 10px;
    }
  }
}

.testimonials {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .testimonial {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;

    &.testimonial-1 {
      border-color: #5ccb5f;
    }

    &.testimonial-2 {
      border-color: #0099ff;
    }

    p {
      font-size: 16px;
      color: #333;
    }

    .testimonial-author {
      font-size: 14px;
      color: #666;
      font-style: italic;
    }
  }
}
//Prefooter
.prefooter {
  background-color:  #757575;
  color: #fff;
  padding: 20px 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  .prefooter__columns {
    display: flex;
    justify-content: space-around;
    .prefooter__column {
      flex: 1;
      padding: 0 20px;
      h3 {
        font-size: 18px;
        margin-bottom: 10px;
      }
      img {
        width: 130px; /* Ajusta el ancho de la imagen */
        height: auto;
        margin-bottom: 15px; /* Espacio entre la imagen y la lista */
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          list-style: none;
          margin-bottom: 5px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}


//Footer
.footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #07905c;
  padding: 20px;
  color: white;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

