@mixin tablet {
    @media screen and (max-width: 915px) and (min-width: 612px) {
        @content
    }
  }
  
  @mixin laptop {
    @media screen  and (min-width: 915px)  {
        @content
    }
  }
  
  @mixin mobile {
    @media screen and (max-width: 612px) {
        @content
    }
  }




//LANDING PAGE
//Header.jsx
.principalHeader {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  /* Otros estilos para el contenedor principal del Header */
  
  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Estilos para el contenedor interno del Header */

    .logoh {
      margin-left: 20px;
      img {
        width: 120px; /* Ajusta el tamaño del logo según tus necesidades */
        height: auto;
        /* Otros estilos para el logo */
      }
    }

    .header-nav {
      list-style: none;
      padding: 8px 16px;
      margin-top: 40px;
      margin-left: 12px;
      display: flex;
      justify-content: space-around;
      color: #07905c;

      .menu-icon {
        display: none;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;

        .headernav-item {
          padding: 10px;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .LogSignbtns {
      .LogInbtn,
      .SignUpbtn {
        padding: 8px 16px;
        margin-top: 40px;
        margin-left: 12px;
        cursor: pointer;
        border-radius: 10px;
        /* Estilos comunes para ambos botones */
      }

      .LogInbtn {
        color: #07905c;
        background-color: white; /* Color para el botón LogIn */
        border: 1px solid #07905c;
      }

      .SignUpbtn {
        color: white;
        background-color: #07905c; /* Color para el botón SignUp */
        border: none;
      }
    }
  }

  /* Estilos para dispositivos móviles */
@include mobile {
  .headerContainer {
    .header-nav {
      .menu-icon {
        display: flex;
        position: relative;
        height: 30px;
        width: 30px;
        cursor: pointer;
        z-index: 20;
      }
    }

    .header-nav {
      ul {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #ffffff; /* Color de fondo del menú */
        padding: 10px; /* Espaciado interno del menú */
        box-shadow: 0px 4px 6px rgba(7, 144, 92, 0.4); /* Sombra para el menú */
        z-index: 15; /* Asegura que el menú esté encima de otros elementos */
        top: 100%; /* Posiciona el menú debajo del ícono */
        left: 50%; /* Centra horizontalmente el menú */
        transform: translateX(-50%);
        border-radius: 10px;
        /* Estilos para ocultar la lista en dispositivos móviles */
      }
      li{
      position: relative;
      padding-bottom: 10px; /* Ajusta el espacio para la franja */
      &:not(:last-child) {
        border-bottom: 1px solid #07905c; /* Color y estilo de la franja */
      }
      }

      ul.show-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        /* Estilos para mostrar la lista cuando se activa la clase show-menu en dispositivos móviles */
      }
    }
  }
  .LogSignbtns{
    .SignUpbtn{
      display: none;
    }
    .LogInbtn{
      color:#07905c;
    }
  }
}
@include tablet {
  .headerContainer {
    .header-nav {
      .menu-icon {
        display: flex;
        position: relative;
        height: 30px;
        width: 30px;
        cursor: pointer;
        z-index: 20;
      }
    }

    .header-nav {
      ul {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #ffffff; /* Color de fondo del menú */
        padding: 10px; /* Espaciado interno del menú */
        box-shadow: 0px 4px 6px rgba(7, 144, 92, 0.4); /* Sombra para el menú */
        z-index: 15; /* Asegura que el menú esté encima de otros elementos */
        top: 100%; /* Posiciona el menú debajo del ícono */
        left: 50%; /* Centra horizontalmente el menú */
        transform: translateX(-50%);
        border-radius: 10px;
        /* Estilos para ocultar la lista en dispositivos móviles */
      }
      li{
      position: relative;
      padding-bottom: 10px; /* Ajusta el espacio para la franja */
      &:not(:last-child) {
        border-bottom: 1px solid #07905c; /* Color y estilo de la franja */
      }
      }

      ul.show-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        /* Estilos para mostrar la lista cuando se activa la clase show-menu en dispositivos móviles */
      }
    }
  }
  .LogSignbtns{
    .SignUpbtn{
      display: none;
    }
    .LogInbtn{
      color:#07905c;
    }
  }
}
}

//Slider
.slider {
  width: 1460px; /* Ancho del slider */
  height: 380px; /* Altura del slider */
  overflow: hidden;
  margin: 0 auto; /* Centrar el slider horizontalmente */
  border-radius: 5px;

  .slides-container {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%; /* Asegurar que el contenedor de slides ocupe todo el ancho */
    height: 100%; /* Asegurar que el contenedor de slides ocupe toda la altura */
  }

  .slide {
    flex: 0 0 100%;
    max-width: 100%;
    overflow: hidden;
    height: 100%; /* Asegurar que cada slide ocupe toda la altura */

    img {
      width: 100%;
      height: 100%; /* Asegurar que la imagen ocupe toda la altura */
      object-fit: cover; /* Para ajustar la imagen sin deformarla */
    }
  }
  @include mobile { /* Consulta de medios para pantallas más pequeñas, por ejemplo, dispositivos móviles */
    width: 100%; 
    height: auto; /* Cambiar la altura del slider a 'auto' para ajustarse al contenido */
     /* Eliminar el borde en dispositivos móviles o ajustarlo según desees */
  }
  @include tablet{
    width: 100%;
    height: auto;
  }
}

//Carousel
.carousel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .control {
    padding: 8px 16px;
    margin: 0 10px;
    background-color: #ccc;
    border: none;
    cursor: pointer;

    &.prev {
      margin-left: 0;
    }

    &.next {
      margin-right: 0;
    }
  }

  .viewport {
    width: 80%;
    overflow: hidden;
    position: relative;
    margin: 20px 0;

    .carousel-list {
      display: flex;
      transition: transform 0.5s ease; /* Transición suave al cambiar de elemento */

      .carousel-item {
        flex: 0 0 100%;
        width: 100%;
        text-align: center;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #f8f8f8;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
//Navbar
.navbar {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #07905c; 
  padding: 20px; /* Ajusta el padding según tu diseño */
  border-radius: 10px;

  .nav-menu {
    ul {
      list-style:none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-around;

      .nav-item {
        padding: 10px;
        color: white;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

//Features
.features {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;

  .feature {
    width: 300px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;

    img {
      width: 80px;
      height: 80px;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      color: #666;
    }
  }

  @include tablet {
    flex-wrap: wrap;

    .feature {
      width: 200px;
      margin: 10px;
    }
  }

  @include mobile {
    //display: flex;
    flex-direction: column;
    align-items: center;

    .feature {
      width: 250px;
      margin: 10px;
    }
  }
}

.testimonials {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .testimonial {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;

    &.testimonial-1 {
      border-color: #5ccb5f;
    }

    &.testimonial-2 {
      border-color: #0099ff;
    }

    p {
      font-size: 16px;
      color: #333;
    }

    .testimonial-author {
      font-size: 14px;
      color: #666;
      font-style: italic;
    }
  }
}
//Prefooter
.prefooter {
  background-color: #757575;
  color: #fff;
  padding: 20px 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  .prefooter__columns {
    display: flex;
    justify-content: space-around;
    .prefooter__column {
      flex: 1;
      padding: 0 20px;
      h3 {
        font-size: 18px;
        margin-bottom: 10px;
      }
      img {
        width: 130px;
        height: auto;
        margin-bottom: 15px;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          list-style: none;
          margin-bottom: 5px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@include mobile {
  .prefooter {
    .prefooter__columns {
      flex-direction: column;
      .prefooter__column {
        width: 100%;
        padding: 10px 0;
        text-align: center;
        img {
          width: 100px;
        }
        h3 {
          font-size: 16px;
          margin-bottom: 8px;
        }
      }
    }
  }
}

@include tablet {
  .prefooter {
    .prefooter__columns {
      .prefooter__column {
        padding: 0 10px;
      }
    }
  }
}


//Footer
.footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #07905c;
  padding: 20px;
  color: white;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

//Simulador
.Simulador {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: whitesmoke; /* Color corregido */
  background-color: #07905c;
  justify-content: space-between;
  border-radius: 5px;
  align-items: center;
  /* Otros estilos para el encabezado o título */
}

.SimuladorDesc {
  font-size: 22px;
  color: #333; /* Color corregido */
  /* Otros estilos para la descripción */
}

.Formulario {
  border: solid 2px #5ccb5f;
  border-radius: 5px;
  margin-top: 20px; /* Agregado margen arriba para separación */
}

.Consumo,
.TipoTarifa {
  font-size: 22px;
  margin-bottom: 15px; /* Agregado margen abajo para separación */
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"],
select {
  //width: 100%;
  padding: 6px;
  margin-right: 2px;
  font-size: 22px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.Costo,
.IVA,
.Total {
  font-size: 22px;
  color: #333;
  margin-top: 20px; /* Agregado margen arriba para separación */
}

//Localización
.Mapita {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px; /* Tamaño de fuente ajustado */
  color: #333; /* Color de texto */

  @include tablet {
    font-size: 14px; /* Cambio de tamaño de fuente para tabletas */
  }

  @include mobile {
    font-size: 12px; /* Cambio de tamaño de fuente para dispositivos móviles */
  }
}

.Encuentra {
  font-size: 30px; /* Tamaño de fuente para el encabezado */
  color: whitesmoke; /* Color del encabezado */
  background-color: #07905c;
  border-radius: 5px;

  @include tablet {
    font-size: 28px; /* Cambio de tamaño de fuente para tabletas */
  }

  @include mobile {
    font-size: 28px; /* Cambio de tamaño de fuente para dispositivos móviles */
  }
}

.DatosMapa {
  font-size: 18px; /* Tamaño de fuente para los datos del mapa */
  margin-top: 20px; /* Margen superior */
  @include tablet {
    font-size: 16px; /* Cambio de tamaño de fuente para tabletas */
  }

  @include mobile {
    font-size: 16px; /* Cambio de tamaño de fuente para dispositivos móviles */
  }
}

.CFEcerca {
  font-size: 24px; /* Tamaño de fuente para el nombre del CFE cercano */
}

.NombreCFE,
.DistanciaCFE {
  font-size: 18px; /* Tamaño de fuente para el nombre y distancia del CFE */
  color: #333; /* Color de texto */
  @include tablet {
    font-size: 18px; /* Cambio de tamaño de fuente para tabletas */
  }

  @include mobile {
    font-size: 16px; /* Cambio de tamaño de fuente para dispositivos móviles */
  }
}

.Encontrar {
  padding: 8px 16px; /* Ajuste del relleno del botón */
  font-size: 14px; /* Tamaño de fuente para el botón */
  background-color: #07905c; /* Color de fondo del botón */
  color: white; /* Color de texto del botón */
  border: none; /* Eliminación del borde del botón */
  border-radius: 10px; /* Ajuste del radio del borde */
  cursor: pointer; /* Cambio del cursor al pasar sobre el botón */
  margin-top: 10px;
  margin-bottom: 12px; /* Margen inferior para separación */
  @include tablet {
    font-size: 14px; /* Cambio de tamaño de fuente para tabletas */
  }

  @include mobile {
    font-size: 14px; /* Cambio de tamaño de fuente para dispositivos móviles */
  }
}

#map {
  width: 100%;
  height: 400px;
  margin-top: 20px; /* Margen superior para el mapa */
}

p {
  margin: 0; /* Eliminación del margen predeterminado de los párrafos */
}

//Acerca
.cfe-widget {
  border-radius: 8px;
  overflow: hidden;
  max-width: 500px;
  margin: 20px auto;
  font-family: Arial, sans-serif;

  .cfe-header {
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: relative;

    h2 {
      font-size: 24px;
      margin: 0;
    }

    p {
      font-size: 14px;
      margin-top: 5px;
    }

    .dropdown-btn {
      background: none;
      border: none;
      color: #ffffff;
      cursor: pointer;
      position: relative;
      display: block;
      margin: 0 auto;
      padding: 8px 16px;
      border-radius: 5px;
      transition: background-color 0.3s ease;
      z-index: 1;

      &.open {
        background-color: #fff;
        color: #07905c;
      }
    }
  }

  .cfe-content {
    display: none;
    padding: 20px;
    position: relative;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 0;

    p {
      font-size: 16px;
      line-height: 1.5;
      color: #333333;
    }

    .mission-vision {
      margin-bottom: 20px;

      h3 {
        font-size: 18px;
        margin-bottom: 10px;
        color: #07905c;
      }
    }

    &.open {
      display: block;
      animation: fade-in 0.5s ease;
      z-index: 2;
    }
  }

  .cfe-header .dropdown-btn.open {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}






