@mixin tablet {
    @media screen and (max-width: 915px) and (min-width: 612px) {
        @content
    }
  }
  
  @mixin laptop {
    @media screen  and (min-width: 915px)  {
        @content
    }
  }
  
  @mixin mobile {
    @media screen and (max-width: 612px) {
        @content
    }
  }


.formContainer{
    background-color:  #436650;
    height: 97.6vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &.transition {
      transition: all 0.3s ease-in-out;
    }

    &.hidden {
      display: none;
    }

    .formWrapper{
      background-color: white;
      padding: 20px 60px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      animation: fC-flip 1s ease-in-out forwards;
   //   animation: rotatecard .7s ease-in-out forwards;
     // animation-delay: .3s;

      .logo{
        img {
            width: 200px; 
            height: auto; 
            margin-bottom: 10px; 
          }
      }

      .titleforAcc{
        color:#07905c;
        font-size: 24px;
        font-weight: lighter;
        font-family: Arial, Helvetica, sans-serif;
      }
  
      form{
        display:flex;
        flex-direction: column;
        gap: 15px;
  
        input{
          padding: 15px;
          border: none;
          width: 250 px;
          border-bottom: 1px solid #436650;
          &::placeholder{
            color: rgb(175,175,175);
          }
        }
        button{
          background-color: #436650;
          color: white;
          padding: 10px;
          font-weight: bold;
          border: none;
          cursor: pointer;
        }
        p{
          font-family: Arial, Helvetica, sans-serif;
        }
        a{
          color: #07905c;
        }
    }
    }
}

@keyframes fC-flip {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50rem) scale(1.1);
  }
  100% {
     transform: translateX(0) rotate(7deg) scale(1);
     z-index: 1; 
  }
}
/*@keyframes rotatecard {
  0% {
      transform: rotate(7deg);
  }

  100% {
      transform: rotate(0);
      z-index: 1; // Establece z-index en 1 al final de la animación
  }
}*/

.formContainer2{
  background-color:  #436650;
  height: 97.6vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &.transition {
    transition: all 0.3s ease-in-out;
  }

  &.hidden {
    display: none;
  }

  .formWrapper2{
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    animation: fC2-flip 1s ease-in-out forwards;
      //animation: rotatecard .7s ease-in-out forwards;
      //animation-delay: .3s;
    .logo{
      img {
          width: 200px; 
          height: auto; 
          margin-bottom: 10px; 
        }
    }

    .titleforAcc{
      color:#07905c;
      font-size: 24px;
      font-weight: lighter;
      font-family: Arial, Helvetica, sans-serif;
    }

    form{
      display:flex;
      flex-direction: column;
      gap: 15px;

      input{
        padding: 15px;
        border: none;
        width: 250 px;
        border-bottom: 1px solid #436650;
        &::placeholder{
          color: rgb(175,175,175);
        }
      }
      button{
        background-color: #436650;
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }
      p{
        font-family: Arial, Helvetica, sans-serif;
      }
      a{
        color: #07905c;
      }
  }
  }
}

@keyframes fC2-flip {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50rem) scale(1.1);
  }
  100% {
     transform: translateX(0) rotate(7deg) scale(1);
     z-index: 1; 
  }
}